{% block set_entry_javascript %}
    <script type="text/javascript">
        /**
         * ajax load items from database
         * @param {object} query
         * @param {string} _class
         * @param {string} prototype
         * @returns {undefined}
         */
        function functionAutocompleteQuery(query, _class, prototype, searchBy) {
            var data = {results: []};
            var path = "{{ path('Nitra_SetsBundle_Sets_autocomplete', {'term': '___term___', 'class': '___class___', 'prototype': '___prototype___', 'searchBy': '___searchBy___'}) }}"
                .replace(/&amp;/g, '&')
                .replace('___term___', query.term)
                .replace('___class___', _class)
                .replace('___prototype___', prototype)
                .replace('___searchBy___', (typeof searchBy === 'undefined') ? prototype : searchBy)
            ;
            $.post(path, function(result) {
                for (var i in result) {
                    data.results.push({id: result[i].value, text: result[i].label});
                }
                query.callback(data);
            });
        }

        /**
         * on load - set category or product value to select2
         * @param {object} element
         * @param {function} callback
         * @param {string} _class
         * @param {string} prototype
         * @returns {undefined}
         */
        function functionAutocompleteInitSelection(element, callback, _class, prototype) {
            try {
                var value = JSON.parse(element.val());
                var data = {
                    id:     value.value,
                    text:   value.text
                };
                element.val(value.value);
                callback(data);
            } catch (e) {
                var path = "{{ path('Nitra_SetsBundle_Sets_autocomplete', {'id': '___id___', 'class': '___class___', 'prototype': '___prototype___'}) }}"
                    .replace(/&amp;/g, '&')
                    .replace('___id___', element.val())
                    .replace('___class___', _class)
                    .replace('___prototype___', prototype);
                $.post(path, function(result) {
                    var data = {
                        id:     result[0].value,
                        text:   result[0].label
                    };
                    element.val(result[0].value);
                    callback(data);
                });
            }
        }

        /**
         * callback on change entry type
         * @param {null} select
         * @returns {undefined}
         */
        function changeTypeCallback{{ name }}(select) {
            var val             = (select !== null)
                ? $(this).val()
                : $('#{{ form.type.vars.id }}').val();
            var $category       = $('#{{ form.category.vars.id }}');
            var $categoryRow    = $category.parents('.form_row').first();
            var $product        = $('#{{ form.product.vars.id }}');
            var $productRow     = $product.parents('.form_row').first();
            switch (val) {
                case "product":
                    $categoryRow.hide();
                    $productRow.show();
                    $category.select2('val', null);
                    break;
                case "category":
                    $categoryRow.show();
                    $productRow.hide();
                    $product.select2('val', null);
                    break;
                default:
                    $categoryRow.hide();
                    $productRow.hide();
                    $category.select2('val', null);
                    $product.select2('val', null);
                    break;
            }
        }

        /**
         * callback on add new entry
         * set zero to discount field
         * @param {object} li
         * @returns {undefined}
         */
        function setNewDiscount(li) {
            li.find('input[id$=discount]').val(0);
        }

        $(document).ready(function() {
            $('#{{ form.type.vars.id }}').change(changeTypeCallback{{ name }});
            changeTypeCallback{{ name }}(null);
        });
    </script>
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endblock set_entry_javascript %}